<header>
  <nav>
    <a href="/" class="logo">
      <img src="/data/logo.png" alt="Ito Geospatial Logo" />
      <span>Ito Geospatial</span>
    </a>
    <button class="nav-toggle" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="nav-toggle-bar"></span>
      <span class="nav-toggle-bar"></span>
      <span class="nav-toggle-bar"></span>
    </button>
    <ul id="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/expertise/">Expertise</a></li>
      <li class="nav-dropdown">
        <a href="/tools/">Tools</a>
        <ul class="dropdown-menu">
          <li><a href="/tools/#software">Software</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a href="/tools/#hardware">Hardware</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a href="/tools/#esri">ESRI</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
