<section class="page-section partnerships-section">
  <header class="partnerships-header">
    <h2>Partners</h2>
  </header>
  <ul class="partner-logos">
    <li><a href="https://www.montana.edu/geospatial/" target="_blank" rel="noopener noreferrer">
      <img src="/data/partner_logos/MSU_GCF.png" alt="MSU Geospatial Core Facility" /></a></li>
    <li><a href="https://www.zenithecon.com/" target="_blank" rel="noopener noreferrer">
      <img src="/data/partner_logos/ZenithEcon.png" alt="Zenith Economics" class="partner-logo--dark" /></a></li>
    <li><a href="https://www.gvlt.org/" target="_blank" rel="noopener noreferrer">
      <img src="/data/partner_logos/GVLT_logo.png" alt="Gallatin Valley Land Trust" /></a></li>
    <li><a href="https://www.gallatinwatershedcouncil.org/" target="_blank" rel="noopener noreferrer">
      <img src="/data/partner_logos/GWC_Logo.webp" alt="Gallatin Watershed Council" /></a></li>
  </ul>
</section>
